.reports__task-row,
.reports__developer-row,
.reports__project-row,
.reports__client-row,
.reports__department-row {
  display: flex;
  justify-content: space-between;
}

.reports__container {
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.reports__department-row {
  color: #f5981c;
  background-color: #f2fcff;
  padding: 10px;
}

.reports__department-row-title {
  cursor: pointer;
}

.reports__client-row {
  color: #00C6FF;
  background-color: #fff9f1;
  padding: 10px;
}

.reports__client-row-title {
  cursor: pointer;
  margin-left: 2%;
}

.reports__project-row {
  color: #f5981c;
  font-size: 16px;
  font-weight: 500;
  background-color: #f2fcff;
  padding: 4px 10px;
  margin-bottom: 1px;
}

.reports__developer-row {
  font-size: 15px;
  color: #3c3c3c;
  padding: 4px 10px;
  background: #f7f7f7;
}

.reports__task-row {
  color: #808080;
  padding-right: 10px;
}

.reports__task-row:hover {
  font-weight: bold;
}

.reports__project-header {
  margin-left: 4%;
  cursor: pointer;
}

.reports__developer-task {
  margin-bottom: 8px;
}

.reports__developer {
  margin-bottom: 4px;
}

.reports__developer-header {
  margin-left: 6%;
  cursor: pointer;
}

.reports__task-header {
  margin-left: 14%;
  cursor: pointer;
}

.reports .fa-rotate {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.reports .fa-caret-up {
  transition: all 0.3s ease;
}

