.flex-1 {
  flex: 1;
}

.dropzone {
  border: 1px solid #808080;
}

.hand-cursor {
  cursor: pointer;
}

.task-detail__priority-heading,
.task-detail__attachment-heading,
.task-detail__description-heading,
.task-detail__tag-heading,
.task-detail__assignee-heading,
.task-detail__due-date-heading,
.task-detail__reporter-heading,
.task-detail__created-heading,
.task-detail__status-heading,
.task-detail__updated-heading,
.task-detail__project-heading {
  display: inline-block;
  width: 20%;
  font-weight: 700;
}

.user__comment,
.user__description,
.user__username {
  display: block;
  margin-left: 50px;
}

.user__img {
  border: 2px solid #d2d6de;
  padding: 2px;
}

.user__img {
  border-radius: 50%;
}

.task-detail {
  padding: 16px 16px 0 16px;
}

.task-detail__item {
  width: 100%;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .task-detail__item {
    width: 40%;
  }
}

.task-detail__attachment-heading {
  margin-top: 15px;
}

.task-detail__priority-heading--highest {
  color: #FF0000;
  margin-top: 4px;
  margin-right: 3px;
}

.task-detail__priority-heading--high {
  color: #FF3333;
  margin-top: 4px;
  margin-right: 3px;
}

.task-detail__priority-heading--medium {
  color: #FF8000;
  margin-top: 4px;
  margin-right: 3px;
}

.task-detail__priority-heading--low {
  color: #336600;
  margin-top: 4px;
  margin-right: 3px;
}

.task-detail__priority-heading--lowest {
  color: #4C9900;
  margin-top: 4px;
  margin-right: 3px;
}

.task-detail__total-time {
  color: #20a8d8 !important;
  cursor: pointer;
}

.task-detail__total-time:hover {
  color: #1b8eb7 !important;
}

.priority--lowest,
.priority--low {
  transform: rotate(180deg);
}

.dz-remove {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 10;
  font-size: 1.2em !important;
  line-height: 0.9em;
  font-weight: bold;
  border: 1px solid #808080 !important;
  border-radius: 1.2em;
  color: #808080;
  background-color: #fff;
  opacity: 0.5;
}

.dz-remove:hover {
  text-decoration: none !important;
  opacity: 1;
  color: #e3342f;
}

.user .cui-trash {
  color: #e3342f;
}

.comments {
  padding: 25px 0px;
}

.comments:hover {
  text-decoration: none !important;
  opacity: 1;
}

.comments__information {
  border-bottom: 1px solid #d2d6de;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #666;
}

.user {
  margin-bottom: 15px;
}

.user__img {
  width: 40px;
  height: 40px;
  float: left;
  vertical-align: middle;
}

.user__username {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.user__username:hover {
  text-decoration: none;
}

.user__deleted-user {
  color: #808080ad;
}

.user__description {
  color: #999;
  font-size: 13px;
}

.user__icons {
  float: right;
}

.priority--highest {
  color: #FF0000;
}

.priority--high {
  color: #FF3333;
}

.priority--medium {
  color: #FF8000;
}

.priority--low {
  color: #336600;
}

.priority--lowest {
  color: #4C9900;
}

.priority--lowest,
.priority--low {
  transform: rotate(180deg);
}

#timeTrackingModal .modal-content {
  max-height: 92vh;
}

.dropzone.dz-clickable * {
  cursor: pointer !important;
}

.dropzone .dz-image img {
  cursor: pointer !important;
}

.dropzone .dz-image {
  background: unset !important;
}

.dz-filename {
  opacity: 0;
}

